@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    font-weight: bold;
    font-family:oxygen !important;
    font-size: 30px;
}
.navbar li a{
    font-size: 20px;
    /* text-align: center; */
    margin: 0 50%;
    
}
.navbar{
    background-color: grey
}
body{
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
}
h1{
    font-family: 'Secular One', sans-serif;
}
h3{
font-family: cursive;
}
.col-xs-12{
    margin: 20px 0px;
    background-color: grey;
}
@media screen and (min-width: 991px) {
    .d-flex,.me-2,.nav-item a{
        display: none;
    }
}
@media screen and (min-width: 480px) {
    .navbar-toggler,.nav-item a{
        display: none;
    }
    .new{
        width: 80%;
    }
}
@media screen and (max-width:479.5px) {
    .new{
       width: 80%;
    }
}

